{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <div class="ui middle aligned center aligned grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <br />
        <h2 class="ui image header" style="color: #535F63">
          <img src="../../../pictures/logo-brown.png" class="image">
          <br />
          <div class="content">
            Add Event
          </div>
        </h2>
        <div class="ui stacked segment inverted" style="background: #888073">
          <form method="POST" class="ui large form inverted" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
              <div class="ui left icon input">
                <i class="utensils icon"></i>
                <input type="text" name="name" placeholder="Event Name" required>
              </div>
            </div>
            <div class="field">
              <div class="ui input">
                <textarea type="text" name="desc" placeholder="Description" required></textarea>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="map marker alternate icon"></i>
                <input type="text" name="location" placeholder="Event location" required>
              </div>
            </div>
            <div class="field">
              <label>Event Image</label>
              <div class="ui input">
                <input type="file" name="image" accept="image/*" id="id_image" required>
              </div>
            </div>
            <div class="fields">
              <label class="ui white">Start Day</label>
              <div class="field">
                <div class="ui input">
                  <input type="date" name="start_day" required>
                </div>
              </div>
              <label>End Day</label>
              <div class="field">
                <div class="ui input">
                  <input type="date" name="end_day" required>
                </div>
              </div>
            </div>
            <br />
            <div class="fields">
              <label>Start Time</label>
              <div class="field">
                <div class="ui input">
                  <input type="time" name="start_time" required>
                </div>
              </div>
              <label>End Time</label>
              <div class="field">
                <div class="ui input">
                  <input type="time" name="end_time" required>
                </div>
              </div>
            </div>
            <button type="submit" class="ui inverted olive basic button">Send</button>
          </form>
        </div>
      </div>
      <div class="four wide column"></div>
    </div>
  </div>
{%  endblock %}