<!DOCTYPE html>
<html lang="en">
<head>
  <title>Potluck Planner</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/d8439c164e.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui large secondary inverted pointing menu stackable">
      <div class="ui container">
        {% if user.is_authenticated %}
          <a class="item" href="{% url 'events' %}">Events</a>
          {% if user.is_superuser %}
            <a class="item" href="{% url 'contacts' %}">Contacts</a>
          {% endif %}
        {% else %}
          <a href="{% url 'home' %}">
            <img src="../../../pictures/logo-white.png" alt="logo-white" class="ui small image" />
          </a>
          <a class="item" href="{% url 'contact' %}">Contact</a>
        {% endif %}
        <div class="right menu">
          {% if user.is_authenticated %}
            <div class="item">
              <a class="ui button" href="{% url 'logout' %}">Logout</a>
            </div>
          {% else %}
            <div class="item">
              <a href="{% url 'login' %}" class="ui inverted button">Log in</a>
            </div>
            <div class="item">
              <a href="{% url 'register' %}" class="ui inverted button">Sign Up</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if messages %}
    {% for message in messages %}
      <div class="ui message {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  {% block body %}

  {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
</html>