{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <div class="ui middle aligned center aligned grid">
      <div class="eight wide column">
        <br />
        <h2 class="ui image header" style="color: #535F63">
          <img src="../../../pictures/logo-brown.png" class="image">
          <br />
          <div class="content">
            Contacts
          </div>
        </h2>
      </div>
    </div>
  {% if user.is_superuser %}
    <div class="ui relaxed divided list">
      {% for contact in contacts %}
        <div class="item">
          <div class="right floated content">
            <a class="ui icon button yellow" href="{% url 'update_contact' contact.id %}">
              <i class="icon pencil"></i>
            </a>
            <a class="ui icon button red" href="{% url 'delete_contact' contact.id %}">
              <i class="icon trash"></i>
            </a>
          </div>
          {% if contact.msg_read %}
            <i class="large envelope open outline middle aligned icon" style="color: #535F63"></i>
          {% else %}
            <i class="large envelope outline middle aligned icon" style="color: #535F63"></i>
          {% endif %}
          <div class="content">
            <a class="header" href="{% url 'contact_details' contact.id %}">{{ contact.email }}</a>
            <div class="description">{{ contact.time_sent | timesince }} ago</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{%  endblock %}