
{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <br />
    <br />
    <br />
    <div class="ui placeholder segment center aligned">
      <form method="POST">
        {% csrf_token %} 
        <h2 class="ui icon header">Are you sure you want to delete {{ item.name }}?</h2>
        <h3>This will delete all of it's content and you are no longer bringing the item and there is no going back</h3>
        <button type="submit" class="ui button red">Delete</button>
      </form>
      <br />
      <div class="inline">
        <a class="item" href="{% url 'event_details' item.event.id %}">
          <div class="ui brown button">
            Go Back to the Event
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}