{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <br />
    <h2 class="ui center aligned icon header" style="color: #535F63">
      <i class="circular utensils icon"></i>
      Events
    </h2>
    <br />
    <a href="{% url 'add_event' %}">
      <button class="circular ui icon olive button right floated">
        <i class="icon plus"></i>
      </button>
    </a>
    <br />
    <div class="ui cards centered">
      {% for event in events %}
        <div class="card">
          <div class="image link">
            <a href="{% url 'event_details' event.id %}">
              <img src="../../../pictures/{{ event.image }}" style="height: 300px; object-fit: cover; width: 100%;">
            </a>
          </div>
          <div class="content">
            <div class="header" style="color: #535F63">{{ event.name }}</div>
            <div class="meta">
              <p>{{ event.location }}</p>
            </div>
            <div class="description">
              {{ event.desc }}
            </div>
          </div>
          <div class="extra content">
            <span>
              {{ event.start_day|date:"M d" }} - {{ event.end_day|date:"M d" }}
            </span>
            <span class="right floated">
              {{ event.start_time }} - {{ event.end_time }}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{%  endblock %}