{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <br />
    <br />
    <img class="ui image circular medium centered" src="../../../pictures/{{ event.image }}">
    <h2 class="ui center aligned header">
      <br />
      {{ event.name }}
    </h2>
    <h5 class="ui center aligned header">
      {{ event.desc }} <br />
      {{ event.location }}
      <br />
      <span>
        {{ event.start_day|date:"M d" }}  {{ event.start_time }} - {{ event.end_day|date:"M d" }}  {{ event.end_time }}
      </span>
      <br />
      <br />
      {% if event.created_by == user.email %}
        <div class="ui buttons">
          <a class="circular ui icon button yellow" href="{% url 'update_event' event.id %}">
            <i class="icon pencil alternate"></i>
          </a>
          <a class="circular ui icon button red" href="{% url 'delete_event' event.id %}">
            <i class="icon trash"></i>
          </a>
        </div>
      {% endif %}
    </h5>
    <br />
    <div class="ui segments">
      <div class="ui segment">
        <a class="circular ui icon button right floated" href="{% url 'add_entree' event.id %}">
          <i class="icon plus"></i>
        </a>
        <h2 class="ui header">
          <i class="fas fa-drumstick-bite fa-lg"></i>
          <div class="content">
            &nbsp; Entrees
          </div>
        </h2> 
        <hr />
      </div>
      <div class="ui segments">
        {% if entrees.count == 0 %}
          <div class="ui segment">
            <h4 class="ui blue header">
              No one signed up for entrees
            </h4>
          </div>
        {% else %}
          {% for entree in entrees %}
            <div class="ui clearing segment">
              {% if entree.created_by == username %}
                <a class="ui icon basic red button right floated" href="{% url 'delete_item' entree.id %}">
                  <i class="icon trash red"></i>
                </a>
                <a class="ui icon basic yellow button right floated" href="{% url 'update_item' entree.id %}">
                  <i class="icon pencil yellow"></i>
                </a>
              {% endif %}
              <p>{{ entree.name }} - {{ entree.created_by }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="ui segments">
      <div class="ui segment">
        <a class="circular ui icon button right floated" href="{% url 'add_side' event.id %}">
          <i class="icon plus"></i>
        </a>
        <h2 class="ui header">
          <i class="fas fa-bread-slice fa-lg"></i>
          <div class="content">
            &nbsp; Sides
          </div>
        </h2>
        <hr />
      </div>
      <div class="ui segments">
        {% if sides.count == 0 %}
          <div class="ui segment">
            <h4 class="ui blue header">
              No one signed up for sides
            </h4>
          </div>
        {% else %}
          {% for side in sides %}
            <div class="ui clearing segment">
              {% if side.created_by == username %}
                <a class="ui icon basic red button right floated" href="{% url 'delete_item' side.id %}">
                  <i class="icon trash red"></i>
                </a>
                <a class="ui icon basic yellow button right floated" href="{% url 'update_item' side.id %}">
                  <i class="icon pencil yellow"></i>
                </a>
              {% endif %}
              <p>{{ side.name }} - {{ side.created_by }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="ui segments">
      <div class="ui segment">
        <a class="circular ui icon button right floated" href="{% url 'add_dessert' event.id %}">
          <i class="icon plus"></i>
        </a>
        <h2 class="ui header">
          <i class="birthday cake icon"></i>
          <div class="content">
            Desserts
          </div>
        </h2>
        <hr />
      </div>
      <div class="ui segments">
        {% if desserts.count == 0 %}
          <div class="ui segment">
            <h4 class="ui blue header">
              No one signed up for desserts
            </h4>
          </div>
        {% else %}
          {% for dessert in desserts %}
            <div class="ui clearing segment">
              {% if dessert.created_by == username %}
                <a class="ui icon basic red button right floated" href="{% url 'delete_item' dessert.id %}">
                  <i class="icon trash red"></i>
                </a>
                <a class="ui icon basic yellow button right floated" href="{% url 'update_item' dessert.id %}">
                  <i class="icon pencil yellow"></i>
                </a>
              {% endif %}
              <p>{{ dessert.name }} - {{ dessert.created_by }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="ui segments">
      <div class="ui segment">
        <a class="circular ui icon button right floated" href="{% url 'add_drink' event.id %}">
          <i class="icon plus"></i>
        </a>
        <h2 class="ui header">
          <i class="glass martini icon"></i>
          <div class="content">
            Drinks
          </div>
        </h2>
        <hr />
      </div>
      <div class="ui segments">
        {% if drinks.count == 0 %}
          <div class="ui segment">
            <h4 class="ui blue header">
              No one signed up for drinks
            </h4>
          </div>
        {% else %}
          {% for drink in drinks %}
            <div class="ui clearing segment">
              {% if drink.created_by == username %}
                <a class="ui icon basic red button right floated" href="{% url 'delete_item' drink.id %}">
                  <i class="icon trash red"></i>
                </a>
                <a class="ui icon basic yellow button right floated" href="{% url 'update_item' drink.id %}">
                  <i class="icon pencil yellow"></i>
                </a>
              {% endif %}
              <p>{{ drink.name }} - {{ drink.created_by }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="ui segments">
      <div class="ui segment">
        <a class="circular ui icon button right floated" href="{% url 'add_supplie' event.id %}">
          <i class="icon plus"></i>
        </a>
        <h2 class="ui header">
          <i class="utensils icon"></i>
          <div class="content">
            Supplies
          </div>
        </h2>
        <hr />
      </div>
      <div class="ui segments">
        {% if supplies.count == 0 %}
          <div class="ui clearing segment">
            <h4 class="ui blue header">
              No one signed up for supplies
            </h4>
          </div>
        {% else %}
          {% for supplie in supplies %}
            <div class="ui segment">
              {% if supplie.created_by == username %}
                <a class="ui icon basic red button right floated" href="{% url 'delete_item' supplie.id %}">
                  <i class="icon trash red"></i>
                </a>
                <a class="ui icon basic yellow button right floated" href="{% url 'update_item' supplie.id %}">
                  <i class="icon pencil yellow"></i>
                </a>
              {% endif %}
              <p>{{ supplie.name }} - {{ supplie.created_by }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
{%  endblock %}