{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <div class="ui middle aligned center aligned grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <h2 class="ui yellow image header">
          <img src="../../../pictures/logo.png" class="image">
          <br />
          <div class="content">
            Update Event
          </div>
        </h2>
        <div class="ui stacked segment inverted">
          <form method="POST" class="ui large form inverted" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                {{ field.name }}
                <br />
                {{ field }}
                <br />
              </div>
              <br />
            {% endfor %}
            <button type="submit" class="ui inverted red basic button">Update</button>
          </form>
        </div>
      </div>
      <div class="four wide column"></div>
    </div>
  </div>
{%  endblock %}