{% extends 'planner/base.html' %}

{% block body %}
  <div class="ui container">
    <div class="ui middle aligned center aligned grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <br />
        <h2 class="ui yellow image header">
          <img src="../../../pictures/logo-brown.png" class="image">
          <br />
          <div class="content">
            Update Event
          </div>
        </h2>
        <div class="ui stacked segment inverted" style="background: #888073">
          <form method="POST" class="ui large form inverted" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
              <p>{{form.errors}}</p>
            {% endif %}
            {% for field in form %}
              <div class="field">
                {% if field.name == "desc" %}
                  Description
                {% elif field.name == "start_day" %}
                  Start Day
                {% elif field.name == "end_day" %}
                  End Day
                {% elif field.name == "start_time" %}
                  Start Time
                {% elif field.name == "end_time" %}
                  End Time
                {% elif field.name == "msg_read" %}
                  Message Read
                {% else %}
                  {{ field.name.title }}
                {% endif %}
                {{ field }}
              </div>
              <br />
            {% endfor %}
            <button type="submit" class="ui inverted olive basic button">Update</button>
          </form>
        </div>
      </div>
      <div class="four wide column"></div>
    </div>
  </div>
{%  endblock %}