{% extends 'planner/base.html' %}

{% block body %}
<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <br />
      <h2 class="ui red image header">
        <img src="../../../pictures/logo-brown.png" class="image">
        <br />
        <div class="content" style="color: #535F63">
          Login
        </div>
      </h2>
      <div class="ui stacked segment inverted" style="background: #888073">
        <form method="POST" class="ui large form">
          {% csrf_token %}
          {% if form.errors %}
            <p>{{form.errors}}</p>
          {% endif %}
          {% for field in form %}
            <div class="field">
              {{ field.name.title }}
              {{ field }}
            </div>
            <br />
          {% endfor %}
          <button type="submit" class="ui inverted olive basic button">Login</button>
        </form>
      </div>
      <div class="ui message">
        Not a member? 
        <br />
        <a href="{% url 'register' %}" style="color: #888073">Sign Up</a>
      </div>
    </div>
    <div class="four wide column"></div>
  </div>
</div>
{%  endblock %}