{% extends 'planner/base.html' %}

{% block body %}
<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <h2 class="ui red image header">
        <img src="../../../pictures/logo.png" class="image">
        <br />
        <div class="content">
          Register
        </div>
      </h2>
      <div class="ui stacked segment inverted">
        <form method="POST" class="ui large form">
          {% csrf_token %}
          {% if form.errors %}
              <p>{{form.errors}}</p>
          {% endif %}
          {% for field in form %}
            <div class="field">
              {% if field.name == "first_name" %}
                First Name
              {% elif field.name == "last_name" %}
                Last Name
              {% elif field.name == "password1" %}
                Password
              {% elif field.name == "password2" %}
                Password Confirmation
              {% else %}
                {{ field.name.title }}
              {% endif %}
              {{ field }}
            </div>
            <br />
          {% endfor %}
          <button type="submit" class="ui inverted red basic button">Register</button>
        </form>
      </div>
      <div class="ui message">
        Already a member? 
        <br />
        <a href="{% url 'login' %}">Login</a>
      </div>
    </div>
    <div class="four wide column"></div>
  </div>
</div>
{%  endblock %}